.accountcontainer{
    margin: 0;
    padding: 0;
    display: flex;
}
.accountleft{
    flex: 3;
    background-color: cadetblue !important;
    height:calc(100vh - 62px);
    position: sticky;
    top: 62px;
}
.accountlefthr{
    background-color: black;
    margin: 10px 0 10px 0;
}
.topaccountleft{
   align-items: center;
}

.accountleftimg{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.username{
    margin: 10px 0 0 0;
}
.useremail{
    margin: 0;
    font-size: 15px;
}
.accountitemicons{
    margin-right: 3px;
}
.accountleftbutton{
    border: none;
    border-radius: 10px;
    width: 60%;
    margin: 10px 0 0 15%;    
}
.account-center{
    padding: 20px;
}
.account{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.69); 
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.69);
}
.accountinfotitle{
    padding: 10px;
    font-weight: bold;
}
.accounthr{
    background-color: black;
    margin: 0 10px;
    
}
.accountinfodetails{
    padding: 10px;
}
.details{
    font-weight: 400;
}
.topcounter{
    font-weight: bold;
}
.engagements{
    display: flex;
    justify-content: space-between;
}


