.profilepic{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 3px;
    border: 2px solid white;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 999;
}